Skip to content
This repository

    Pull requests
    Issues
    Marketplace
    Gist

@greg7687

53
165

    199

mosh-hamedani/vidly-mvc-5
Code
Issues 13
Pull requests 0
Projects 0
Wiki
vidly-mvc-5/Vidly/Views/Movies/ReadOnlyList.cshtml
7c067b7 on Apr 20, 2016
@mosh-hamedani mosh-hamedani Restrict movie manage operations to store manager.
41 lines (37 sloc) 837 Bytes
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}

    Contact GitHub API Training Shop Blog About

    © 2017 GitHub, Inc. Terms Privacy Security Status Help

